/** RESET **/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

/**-------------------------- HEADER ------------------------**/
header {
    background-color: #140f07;
}

.logobox {
    display: flex;
    justify-content: center;
}

.logobox img {
    width: 150px;
}

nav ul {
    color: white;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    display: inline-block;
    font-size: 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 14px 16px;
}


nav ul li a:hover {
    background-color: #1d1c1c;
}

/*--------------------------------banners--------------------------*/

.Banner_index img {
    height: auto;
    width: 100%;
}

.Banner_servicios img {
    height: auto;
    width: 100%;
}

.Banner_tienda img {
    height: auto;
    width: 100%;
}


/*--------------------------------Cuerpo---------------------------*/
main {
    background-color: #bfcbf8;
}

.hero {
    padding: 100px;
    width: 100%;
    text-align: center;
    color: white;
    background-image: url(../img/logo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero h1 {
    background-color: #140f07a4;
    margin-top: 33px;
    font-size: 80px;
    font-style: oblique;
    font-variant: inherit;
    border: 10px solid white;
    display: inline-block;
    padding: 15px;
    margin-bottom: 50px;
}

.hero p {
    font-size: 35px;
    margin: 10px;
    margin-bottom: 50px;
}

.hero a {
    font-size: 25px;
    background-color: white;
    text-decoration: none;
    color: black;
    padding: 20px;
    margin: 10px;
}

main h3 {
    background-color: #bfcbf8(255, 0, 0, 0.363);
    color: white;
    font-size: 4vw;
    text-align: center;
    padding: 15px;
}

.index_profesionales {
    background-color: #bfcbf8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-color: #8389bb;
}

.index_profesionales h4 {
    color: #8389bb;
    text-align: center;
    font-style: oblique;
    font-style: initial;
    font-size: 2vw;
}

.index_profesionales div img {
    background-position: center;
    /* Centrar la imagen dentro del div */
    width: 20vw;
    height: 20vw;
    border: 10px solid #8389bb;
    border-radius: 8%;
    margin: 10px;
    margin-bottom: 60px;
}


/*-----------------------------Nosotros---------------------------*/
.nosotros_mapa {
    background-color: #1db5ba;
    display: wrap;
    flex-wrap: wrap;
}

.nosotros_mapa div {
    margin-left: 20px;
    text-align: start;
}

.nosotros_mapa h4 {
    padding: 50px 0px 0px 0px;
    color: white;
    text-align: center;
    font-style: oblique;
    font-style: initial;
    font-size: 30px;
    margin-bottom: 50px;
}

.nosotros_mapa p {
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}

.nosotros_mapa iframe {
    height: 20vw;
    width: 98.96vw;
    padding: 20px;
}

.nosotros_cuerpo {
    background-color: #122c43;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.nosotros_cuerpo ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nosotros_cuerpo li {
    margin: 10px 80px;
}

.nosotros_cuerpo a {
    text-decoration: none;
}

.nosotros_cuerpo button {
    height: 100px;
    width: 150px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #20d8d8;
    color: #fff;
    border: none;
    border-radius: 8px;
}

.nosotros_cuerpo button:hover {
    background-color: #0056b3;
}


.publicidad {
    padding: 20px;
    text-align: center;
    background-color: #1db5ba;
}

.publicidad iframe {
    height: 20vw;
    width: 85vw;
}

/*-----------------------------Servicios---------------------------*/
body section h2 {
    padding: 15px;
    font-size: 60px;
    background-color: #00475c;
    border-color: white;
    text-align: center;
}

.Servicios_desgloce {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #002331;
    padding: 20px;
}
.titulo_servicios h2{
    color: white;
    margin: 0px;
    border: 5px solid black;
}

.Servicios_desgloce div img {
    background-position: center;
    /* Centrar la imagen dentro del div */
    width: 300px;
    height: 300px;
    border: 8px solid white;
    border-radius: 8%;
}

.Servicios_detalle {
    background-color: #00475c;
    padding: 30px;
    border: 5px solid black;
}

.Servicios_detalle div {
    margin: 15px;
}

.Servicios_detalle h4 {
    padding: 15px;
    background-color: #00ffff;
    color: black;
    font-size: 40px;
    text-align: center;
    border: 5px solid #002331;
}

.Servicios_detalle div p {
    background-color:#002331;
    color: white;
    font-size: 25px;
    text-align: center justify;
    padding: 10px;
}
.servicio{
    border: 5px solid white;
}
.servicio button{
    background-color: black;
    color: white;
    width: 170px;
    height: 60px;
    font-size: 20px;
}
/*-----------------------------Tienda---------------------------*/
.Tienda-productos {
    background-color: #00b3e8;
    display: grid;
    justify-content: space-evenly;
   /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));*/
    gap: 15px;
    padding: 20px;
}
.Tienda-productos h2 {
    background-color:#001b2c;
    color: white;
    font-size: 4vw;
    text-align: center;
    padding: 15px;
}

.Tienda-productos .Proteina_titulo,
.Tienda-productos .Creatina_titulo,
.Tienda-productos .Otro_titulo {
    grid-column: span 5; /* Span across three columns */
    text-align: center;
}

.Tienda-productos .Proteina,
.Tienda-productos .Creatina,
.Tienda-productos .Otros {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Tienda-productos img {
    width: 100%;
    height: auto;
    max-width: 200px;
    position: center;
    size: cover;
    border: 5px solid black;
}


/*-----------------------------Contacto---------------------------*/
.contacto_mapa {
    background-color: #173648;
    padding: 10px;
    color: black;
    display: flex;
    justify-content: space-around;
}

.contacto_formulario {
    height: auto;
    width: 300px;
    font-size: 20px !important;
    background-position: space-around;
    border: 10px solid;
    background-color: black;
    color: white;
}

.contacto_mapa iframe {
    height: 23vw;
    width: 75vw;
}

.contacto_propaganda {
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    background-color: #12657a;
}

.contacto_propaganda iframe {
    height: 300px;
    width: 1100px;
}

/*-----------------------------FOOTER---------------------------*/
footer {
    background-color: #140f07;
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 25px;
}

footer div a img {
    width: 150px;
}

Footer hr {
    border-style: double;
}

.redessociales {
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    padding: 25px;
}

footer ul li {
    font-size: 5vw !important;
    margin: 2vw 8vw !important;
    color: white
}

.redessociales i:hover {
    width: 32%;
}

footer ul li {
    display: inline-block;
    margin: 20px;
    border: 1px;
    padding: 10px;
}

/*-----------------------------Responsiv---------------------------!*/

/*---INDEX---!*/
/*-------------------------1350px-------------------------------!*/
@media screen and (max-width: 1350px) {
    .contacto_mapa {
        flex-wrap:wrap;
        justify-content: space-around;
    }
}

/*-------------------------1050px-------------------------------!*/
@media screen and (max-width: 1050px) {
    .footer div a img {
        width: 130px;
    }
    .footer p {
        font-size: 23px;
    }
    .footer ul li {
        margin: 0px;
        border: 0px;
        padding: 0px;
    }
}

/*-------------------------850px-------------------------------!*/
@media screen and (max-width: 850px) {
    .logobox img {
        width: 15vh;
    }
    .header nav ul li {
        font-size: 15px;
    }
    .hero {
        padding: 60px;
        width: 100%;
    }
    .hero h1 {
        margin-top: 0px;
        font-size: 50px;
        border: 5px solid white;
        padding: 10px;
        margin-bottom: 30px;
    }
    .hero p {
        font-size: 25px;
        margin: 8px;
        margin-bottom: 30px;
    }
    .hero a {
        font-size: 20px;
        background-color: white;
        text-decoration: none;
        color: black;
        padding: 15px;
        margin: 7px;
    }
    main h3 {
        background-color: #bfcbf8(255, 0, 0, 0.363);
        color: white;
        font-size: 4vw;
        text-align: center;
        padding: 15px;
    }
    .index_profesionales h4 {
        font-size: 3.6vw;
    }
    .index_profesionales div img {
        width: 250px;
        height: 250px;
        border: 8px solid #8389bb;
        border-radius: 8%;
        margin: 10px;
        margin-bottom: 40px;
    }
    
    .titulo_servicios h2{
        font-size: 35px;
    }
    
    .Servicios_desgloce div img {
        width: 200px;
        height: 200px;
        border: 5px solid white;
    }
    .footer .img {
        width: 12vw;
    }
    .footer p {
        font-size: 19px;
    }
    .footer section ul li img {
        width: 22%;
    }
}
/*-------------------------630px-------------------------------!*/
@media screen and (max-width: 630px) {
    .Servicios_detalle h4 {
        font-size: 30px;
    }
    .Servicios_detalle div p {
        font-size: 20px;
    }
    .servicio button{
        width: 140px;
        height: 50px;
        font-size: 15px;
    }
    .contacto_formulario {
        width: 200px;
        font-size: 15px !important;
        border: 5px solid;

    }
    }


/*-------------------------470px-------------------------------!*/

@media screen and (max-width: 470px) {
    .footer section ul li img {
        width: 25%;
    }
    .header div a img {
        width: 10vh;
    }
    .header nav ul li {
        font-size: 9px;
    }
    .titulo_servicios h2{
        font-size: 25px;
    }
    .Servicios_detalle h4 {
        font-size: 30px;
    }
    .Servicios_detalle div p {
        font-size: 15px;
    }
    .contacto_mapa iframe {
        height: 30vw;
        width: 80vw;
    }
}
/*---NOSOTROS---!*/
/*-------------------------850px-------------------------------!*/

@media screen and (max-width: 850px) {
    .nosotros_mapa div p{
        font-size: 17px;
        margin-bottom: 20px;
    }
}