/*-----------------------------HEADER---------------------------*/
header{
    background-color: $color-uno;
    .logobox{
        display: flex;
        justify-content: center;
        a{
            img{
                width: 150px;
            }
        }
    }
    nav{
        ul{
            color: $color-cuatro;
            display: flex;
            justify-content: space-around;
            margin: 0;
            padding: 0;
            overflow: hidden;
            li{
                display: inline-block;
                font-size: 25px;
                a{
                    color: $color-cuatro;
                    text-decoration: none;
                    display: block;
                    text-align: center;
                    padding: 14px 16px;
                    transition-duration: 0.2s;
                    &:hover{
                        color: $color-cinco;
                        background-color: $color-cuatro;
                    }
                }
            }
        }
    }
}