/** RESET **/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace; }

// ____variables.scss_____//

// Colores principales  //
 //ESTOS SON ALGUNOS DE LOS COLORES QUE UTILICE
$color-uno: #140f07;
$color-dos: #00475c;
$color-tres: #1da1c8;
$color-cuatro: white;
$color-cinco: black;
$color-seis: #2bc9c8;






 // No se que toque pero ahora si me deja aplicar la variable de color y se lo puse a todo(aunque intenté cambiarle el nombre a todo).



 // En el main-inicio.scss hay una animación del H1
 // en la main-tienda-scss hay una EXTEND (LA IDEA ES APLICARLO A TODO EL PROYECTO DESPUES)
 // no pude aplicar mixin porque tambien me daba error (aunque tengo que repasarlo bien porque no se como aplicarlo a mi proyecto)
